* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:100%;
}

 .main_heading {
    width: 95%;
    /* height: 76%; */
    background: url("../images/project1-home5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:right;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-left: 1.5rem;
} 

.detail {
    border:  solid 3px transparent;
     margin-left: 3rem;
     margin-top: 1.6rem;
     color: rgb(0, 0, 156);
}

.welcome {
    font-size: 2rem;
    margin-top: 1rem;
}

.name {
    font-size: 4rem;
    font-weight: 900;
}

.location_button {
    border: none;
    width: 7rem;
    height: 2.7rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    transition: 1s;
    border-radius: 2rem;
    background-color: rgb(139, 134, 170);
    color: white;
    font-size: 1rem;
    text-transform: uppercase; 
    cursor: pointer;   
}

.location_button:hover {
    background-color: rgb(5, 5, 112);
}

.graph_group {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 1rem;
}

.pie_chart {
    text-align: center;
    width: 47.5%;
    height: 56vh;
    background-color: white;
    border-radius: 2.5rem;
}
.pie_heading {
    margin-top: 1rem;
}
.chart {
    margin-left: 3rem;
    margin-top: -2rem;
}

.bar_graph {
    text-align: center;
    background-color: white;
    width: 49.5%;
    height: 56vh;
    margin-left: 2rem;
    border-radius: 2rem;
}

.bar_heading {
    margin-top: 1rem;
}

.graph {
    margin-top: 0.6rem;
}

